[project]
	description = This is a test repository 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vincenlee
[access "refs/for/refs/*"]
	read = group user/vincenlee
	push = group user/vincenlee
	label-Code-Review = -2..+2 group user/vincenlee
	label-Verified = -1..+1 group user/vincenlee
	rebase = group user/vincenlee
	removeReviewer = group user/vincenlee
	submit = group user/vincenlee
[access "refs/heads/*"]
	read = group user/vincenlee
	create = group user/vincenlee
	push = +force group user/vincenlee
	pushMerge = group user/vincenlee
[access "refs/tags/*"]
	push = +force group user/vincenlee
	pushTag = group user/vincenlee
	pushSignedTag = group user/vincenlee
